<!DOCTYPE html>
<html lang="id">

	<head>
		<title>Ahnaf Gallery</title>
		<meta charset="utf-8" />
		<meta name="author" content="Heru Setiawan" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link type="text/css" rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="css/lightbox.css">
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/jquery.masonry.min.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
		<script src="/js/lightbox.min.js"></script>
		<!--[if lt IE 9]>
		<script type="text/javascript" src="/js/html5.js"></script>
		<![endif]-->
	</head>


<body>
	<header>
		<h1>Ahnaf Gallery</h1>
	</header>
	<section id="container">
		<section class="sort">
			{{ content }}
	</section>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

</section>


<footer>
<p>credit Heru</p>
	</footer>



</body>

</html>